<!DOCTYPE html>
<html>
  <head>
    <title>>Teste Pontotel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
  </head>
  <body>
      <header>
        <div class="navebar navbar-inverse">
            <div class="navbar-inner">
                <a class="brand" href=http://www.tutoriamainframe.com.br>Tutoria Mainframe</a>
                <ul class="nav">
                 <li class="active"><a href="/">Home</a></li>
                 <li class="active"><a href="/pesquisa">Pesquisar</a></li>

                </ul>
            </div>
        </div>
      </header>
      <div class="container">


      {% block content %}
      {% endblock %}
      </div>
</body>
</html>
